# python
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# vscode
.vscode/

# outputs
out

# secrets
.env

# Core latex build outputs
report/build
report/paper/media
*.zip
*.log

# wandb
wandb/

# corenlp
corenlp/

report/